<div id="form_background">
    <div style="margin-left: auto; margin-right: auto">
        <p id="registerFeedback"></p>
    </div>
    <mat-sidenav-container id="form">
        <mat-sidenav-content>
            <div class="col-md-6 offset-md-3">
                <div id="login" class="content mat-elevation-z8 justify-content-center">
                    <div class="login_form">
                        <img class="avatar mat-elevation-z8 mt-5" src="./assets/logo_inicial.png" alt="logo inicial">
                        <div class="mt-2">
                            <h1>Registro</h1>
                            <form [formGroup]="registerForm" (ngSubmit)="register()">
                                <section class="form_name">
                                    <mat-form-field class="fill mat_form_name">
                                        <mat-label>Introduce tu nombre</mat-label>
                                        <input type="text" matInput [formControl]="usuario" required />
                                        <mat-error
                                            *ngIf="usuario.hasError('minlength') && !usuario.hasError('required')">
                                            Name must be at least 5 characters long.
                                        </mat-error>
                                        <mat-error
                                            *ngIf="usuario.hasError('maxlength') && !usuario.hasError('required')">
                                            Name can be max 25 characters long.
                                        </mat-error>
                                        <mat-error *ngIf="usuario.hasError('required')">
                                            Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </section>

                                <section class="form_name">
                                    <mat-form-field class="fill mat_form_name">
                                        <mat-label>Introduce tu correo</mat-label>
                                        <input type="text" matInput [formControl]="correo" />
                                        <mat-error *ngIf="correo.hasError('pattern') && !correo.hasError('required')">
                                            Email not a valid format.
                                        </mat-error>
                                        <mat-error *ngIf="correo.hasError('required')">
                                            Email is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </section>

                                <section class="form_name">
                                    <mat-form-field class="fill mat_form_name">
                                        <mat-label>Introduce tu contraseña</mat-label>
                                        <input type="password" matInput [formControl]="password" />
                                        <mat-error
                                            *ngIf="password.hasError('minlength') && !password.hasError('required')">
                                            Password must be at least 8 characters long.
                                        </mat-error>
                                        <mat-error *ngIf="password.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </section>

                                <section class="form_name">
                                    <mat-form-field class="fill mat_form_name">
                                        <mat-label>Confirma tu contraseña</mat-label>
                                        <input type="password" matInput [formControl]="password_confirmation" />
                                        <mat-error
                                            *ngIf="password_confirmation.hasError('minlength') && !password_confirmation.hasError('required')">
                                            Password must be at least 8 characters long.
                                        </mat-error>
                                        <mat-error *ngIf="password_confirmation.hasError('required')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </section>

                                <section>
                                    <button mat-raised-button color="primary" type="submit"
                                        [disabled]="!registerForm.valid">Registrar</button>
                                </section>

                                <section>
                                    <div id="inicio_sesion">
                                        <p>Si ya está registrado, <a href="/login">inicia sesión</a></p>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>