<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">Lista de colecciones</div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div>
        <mat-spinner *ngIf=""></mat-spinner>
    </div>

    <div class="table-responsive">
        <table mat-table [dataSource]="collections" class="table table-hover table-striped">


            <ng-container matColumnDef="nombre_coleccion">
                <th class="table_header" mat-header-cell *matHeaderCellDef> NOMBRE </th>
                <td class="pt-3 border_table_left table_name" mat-cell *matCellDef="let element">
                    {{element.nombre_coleccion}}
                </td>
            </ng-container>



            <ng-container matColumnDef="tipo_coleccion">
                <th class="table_header" mat-header-cell *matHeaderCellDef> TIPO </th>
                <td class="pt-3 table_name" mat-cell *matCellDef="let element"> {{element.tipo_coleccion}} </td>
            </ng-container>



            <ng-container matColumnDef="imagen_coleccion">
                <th class="table_header" mat-header-cell *matHeaderCellDef> IMAGEN </th>
                <td class="pt-3 table_name" mat-cell *matCellDef="let element"> <img src="{{element.imagen_coleccion}}"
                        alt="imagen coleccion"> </td>
            </ng-container>



            <ng-container matColumnDef="actions">
                <th class="table_header tabla_header_espacio" mat-header-cell *matHeaderCellDef> ACCIONES </th>
                <td class="pt-2 border_table_right tabla_espacio table_name" mat-cell *matCellDef="let element">
                    <button (click)="loadUserElements(element.id)" mat-raised-button color="primary">
                        Ver elementos
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>