<p>element-charts works!</p>

<h1 class="grafica_principal">Estadísticas de los elementos de las colecciones para el sistema</h1>
<div class="grafica_tarta">
    <div class="grafica_espacio">
        <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="collections_single"
            [gradient]="gradient" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
        </ngx-charts-advanced-pie-chart>
    </div>

    <div class="grafica_espacio">
        <ngx-charts-gauge [view]="view2" [scheme]="colorScheme2" [results]="collections_single2" [legend]="legend"
            [legendPosition]="legendPosition" (select)="onSelect($event)" (activate)="onActivate($event)"
            (deactivate)="onDeactivate($event)">
        </ngx-charts-gauge>
    </div>

    <div class="grafica_espacio">
        <ngx-charts-bar-vertical [view]="view3" [scheme]="colorScheme3" [results]="collections_single2"
            [gradient]="gradient2" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend2"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
    </div>
</div>